@model Appointment

@{
    ViewData["Title"] = "Set Appointment";
}

@section Scripts{
    <script>
        var update_appointments_time = function () {
            var appointments = @Html.Raw(Json.Serialize(@ViewBag.appointments));
            for (let i = 0; i < appointments.length; i++) {

                var appointmentTime = JSON.stringify(appointments[i].time);
                $('#timePicker option[value="' + appointmentTime + '"]').prop('disabled', 'disabled');
                }

        }
        $(update_appointments_time)
    </script>
}


<h2>Set new Appointment</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <span asp-validation-for="Time" class="text-danger"></span>
        <select asp-for="Time" class="form-control" id="timePicker">
            <option value="">Please pick the time</option>
            <option value="9">9:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
        </select>
    </div class="DELETEME">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>



