@model Appointment

@{
    ViewData["Title"] = "Set Appointment";
}

<h2>Set new Appointment</h2>

<form asp-action="Create">
    <input asp-for="Description" class="form-control" />

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <p>Date: <input type="date" id="datepicker"></p>
    <p>DateTime: <input type="time" id="datetime"></p>
    <select asp-for="Time" class="form-control" id="timePicker">
        <option value="9">9:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
    </select>
</form>

@section Scripts{
    <script>
        var update_appointments = function () {
            var appointments = @Html.Raw(Json.Serialize(@ViewBag.appointments));
            for (let i = 0; i < appointments.length; i++) {

                var appointmentTime = JSON.stringify(appointments[i].time);
                $('#timePicker option[value="' + appointmentTime + '"]').prop('disabled', 'disabled');
                }
            
        }
        @*var z = 13;
        $('#timePicker option[value="' + z + '"]').prop('disabled', 'disabled');*@
        $(update_appointments)

    </script>
    }



