@model List<Appointment>

@{
    ViewData["Title"] = "All Appointment";
}

<h2>Set new Appointment</h2>
<div>
    <a asp-action="Create">Create New Appointment</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Message)s:
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
    </tbody>
</table>
