@model List<Appointment>

@{
    ViewData["Title"] = "Appointments List";
}

<h2>Appointments List</h2>
<div>
    <form asp-action="DeleteAll" method="post">
        <input type="submit" value="Delete All" class="btn btn-danger" />
    </form>
</div>  
<div>
    <a asp-action="Create">Create New Appointment</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time):00
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
