@model List<Appointment>

@{
    ViewData["Title"] = "All Appointment";
}

<h2>Set new Appointment</h2>
<div>
    <a asp-action="Create">Create New Appointment</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time):00
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
